<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="UTF-8">
    {% load static %}
    {% load i18n %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True %}
    {% bootstrap_jquery %}

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
{#    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>#}
{#    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">#}
        {% block head %}
        {% endblock %}
    <title>{% translate "Territory" %}</title>
</head>
<body class="bg-light d-flex flex-column min-vh-100">
{% include "nav.html" %}
<main role="main" class="container">
    <div class="my-3 mt-3 p-3 bg-white rounded shadow-sm overflow-auto">
        {% bootstrap_messages %}
        {% block page_content %}
        {% endblock %}
    </div>
    <div id="map" style="height:40vh"></div>
    <script src="{% static "map.js" %}"></script>
    <script>
        {% block markers %}
        {% endblock %}
    </script>
</main>
</body>
</html>

