<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoieXVyaXlrb3JtaW4iLCJhIjoiY2xjdTZjMm1jMHJwZTNvbXg1cm1xMGh5ciJ9.uHPoJEdjly2KUEmc8YEOkw';

    const map = new mapboxgl.Map({
    container: 'map', // container ID
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: 'mapbox://styles/mapbox/streets-v12', // style URL
    center: [41.612803, 41.632153], // starting position [lng, lat]
    zoom: 16, // starting zoom
    language: 'ru-RU'
    });
    {#const marker1 = new mapboxgl.Marker()#}
    {#    .setLngLat([41.612803, 41.632153])#}
    {#    .addTo(map);#}
    {#const marker1 = new mapboxgl.Marker().setLngLat([41.612803, 41.632153]).addTo(map);#}
</script>
