{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load qr_code %}
{% block page_content %}
{#    <h2>Log In</h2>#}
{#<form method="post">#}
{#  {% csrf_token %}#}
{#    {% bootstrap_form form %}#}
{#  {{ form.as_div }}#}
{#  <button type="submit">Log In</button>#}
{#{% bootstrap_button "Login" button_type="submit" button_class="mt-3 btn btn-primary" %}#}
{#{{ uuid }}#}
    {% if request.user.is_authenticated %}
{#        <img src="{% qr_url_from_data "Hello World!" size=8 version=10 image_format='png' %}" alt="Hello World!">#}
{#        {{ requ }}#}
        {% qr_from_text request.build_absolute_uri size="t" image_format="png" error_correction="L" %}
    {% endif %}
{#    <table class = "table table-striped">#}
{#        <tr>#}
{#            <th>{% translate "house" %}</th>#}
{#            <th>{% translate "flats" %}</th>#}
{#            <th></th>#}
{##}
{#        </tr>#}
{#    </table>#}
        <div id="accordion">
            {% for house in object.sector.house_set.all %}
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ house.id }}" aria-expanded="true" aria-controls="collapse{{ house.id }}">
                        {{house.address}}
                    </button>
                  </h5>
                </div>

                <div id="collapse{{ house.id }}" class="collapse" aria-labelledby="heading{{ house.id }}" data-parent="#accordion">
                  <div class="card-body">
                      <table class = "table table-striped">
                        {% for flat in house.flat_set.all %}
                            <tr>
                                <td>{{ flat.number }} квартира</td>
                                <td>{{ flat.entrance }} подъезд</td>
                                <td>{{ flat.floor }} этаж </td>
                                <td>{{ flat.way_desc }}</td>
                            </tr>
                        {% endfor %}
                      </table>
                  </div>
                </div>
              </div>
        {% endfor %}
        </div>
{#        <tr>#}
{#            <td>{{ house.address }}</td>#}
{#            <td><table class = "table table-striped">#}
{#                {% for flat in house.flat_set.all %}#}
{#                    <tr>#}
{#                        <td>{{ flat.entrance }} подъезд</td>#}
{#                        <td>{{ flat.floor }} этаж </td>#}
{#                        <td>{{ flat.number }} квартира</td>#}
{##}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </table>#}
{#            </td>#}
{##}
{##}
{#        </tr>#}
{#    {% endfor %}#}
{#    </table>#}
{#    </form>#}
{% endblock %}
{% block markers %}
{#        add_sector_source(#}
{#        {{ object.sector.id }},#}
{#        {{ object.sector.contour.geojson | safe }},#}
{#        "{{ object.sector.name }}"#}
{#        )#}
{#    map.on('load', map_add_layer)#}
{#        draw.add(sectors)#}
    {% for house in object.sector.house_set.all %}
        set_popup({{ house.id }},"{{ house }}({{ house.flat__count }})")
        set_marker({{ house.id }}, {{ house.gps_pos }})
    {% endfor %}
{% endblock %}