{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load qr_code %}
{% load static %}
{% block page_content %}
    {% if request.user.is_authenticated %}
        {% qr_from_text request.build_absolute_uri size="t" image_format="png" error_correction="L" %}
    {% endif %}
        <div id="accordion">
            {% for house in object.sector.get_houses_into %}
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ house.id }}" aria-expanded="true" aria-controls="collapse{{ house.id }}">
                        {{house.address}}({{ house.flat_count }} {% translate "addresses" %})
                    </button>
                  </h5>
                </div>

                <div id="collapse{{ house.id }}" class="collapse" aria-labelledby="heading{{ house.id }}" data-parent="#accordion">
                  <div class="card-body">
                      <table class = "table table-striped">
                        <tr>
                            <th>{% translate "entrance" %}</th>
                            <th>{% translate "floor" %}</th>
                            <th>{% translate "number" %}</th>
                            <th>{% translate "desc" %}</th>
                        </tr>
                        {% for flat in house.flat_set.all %}
                            <tr>
                                <td>{% if flat.entrance %} {{ flat.entrance}} {% translate "entrance" %}{% endif %}</td>
                                <td>{% if flat.floor %}{{ flat.floor }} {% translate "floor" %}{% endif %}</td>
                                <td>{% if flat.number %}{{ flat.number }} {% translate "number" %}{% endif %}</td>
                                <td>{{ flat.way_desc|default_if_none:"" }}</td>
                            </tr>
                        {% endfor %}
                      </table>
                  </div>
                </div>
              </div>
        {% endfor %}
        </div>
{% endblock %}
{% block markers %}
    map_fly({{ object.centroid.coords.0|floatformat:"." }},{{ object.centroid.coords.1|floatformat:"." }})
    {% for house in object.sector.get_houses_into %}
        set_popup({{ house.id }},"{{ house }}({{ house.flat_count }})")
        set_marker({{ house.id }}, {{ house.gps_pos }})
    {% endfor %}
{% endblock %}