DJANGO_SECRET=

#GDAL
CPLUS_INCLUDE_PATH=/usr/include/gdal
C_INCLUDE_PATH=/usr/include/gdal


# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=
#DOCKER_DB_HOST=

#Django Auth
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_EMAIL=

# Certbot
CERTBOT_DOMAINS=
CERTBOT_EMAIL=

DEBUG=True

GOOGLE_ANALYTICS_KEY=
MAPBOX_API_KEY=

# JWT options in seconds.
#
# Default is
#     EXPIRATION = 5 minutes
#     REFRESH_EXPIRATION = 7 days
TOKEN_EXPIRATION=10
REFRESH_EXPIRATION=20

SENTRY_URL=