{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block page_content %}
   <h1 class="my-4"> {{ header }} {{ sector_name }} sector</h1>
    <table class = "table table-striped">
        <tr>
            <th>{% translate "author" %}</th>
            <th>{% translate "date" %}</th>
            <th>{% translate "status" %}</th>
            <th>{% translate "assigned to" %}</th>
        </tr>
        {% for record in object_list %}
            <tr>
                <td> {{record.history_user|default:"tork"}}</td>
                <td> {{record.history_date|date:"d M Y"}}</td>
                <td> {{record.status|default:"created"}}</td>
                <td> {{record.assigned_to|default:""}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block markers %}
    {% include "issue/map_hide.html" %}
{% endblock %}