{% load i18n %}
<div class="card">
    {% if house.image_preview %}
        <img class="card-img-top" src="{{ house.image_preview.url }}" alt="House image" />
    {% endif %}
    <div class="card-body m-0 p-1">
        <h5 class="card-title">{{ house.address }}</h5>
{#        <p class="card-text">{{ house.desc|linebreaksbr }}</p>#}
        <p class="card-text">{% trans "Entrances" %}: {{ house.entrances }}</p>
        <p class="card-text">{% trans "Floors" %}: {{ house.floor_amount }}</p>
        <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
            <div class="btn-group-sm" role="group">
                <a href ="{% url "house_update" house.id %}" class="btn btn-outline-info" role="button" aria-disabled="true"><i class="fas fa-edit"></i></a>
                <a href ="{% url "house_delete" house.id %}" class="btn btn-outline-danger" role="button" style="margin-left: 10px;"><i class="fas fa-trash"></i></a>
{#                <button class="btn btn-outline-warning" role="button" style="margin-left: 10px;"><i class="fas fa-history"></i></button>#}
            </div>
        </div>
    </div>
</div>