{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% block page_content %}
{#    <div class="my-3 mt-3 p-3 bg-white rounded shadow-sm overflow-auto">#}
{#        {% include "sector/sector_selector.html" %}#}
{#    </div>#}
   <h1 class="my-4"> {{ marks }}</h1>
    <ul class="navbar-nav">
        <li class = "nav-item active"><a href="#list_houses" data-toggle="collapse">{% translate "show list" %}</a></li>
    </ul>
    <table id ="list_houses" class="table collapse text-center">
        <thead><tr>
            <th>{% translate "name" %}</th>
            <th>{% translate "uuid" %}</th>
            <th>{% translate "status" %}</th>
            <th>{% translate "info" %}</th>
            <th>{% translate "houses" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for sector in object_list %}
            <tr {% if sector.status.name == 'free' %}class="table-success"{% endif %}
                {% if sector.status.name == 'assigned' %}class="table-warning"{% endif %}
                {% if sector.status.name == 'under_construction' %}class="table-danger"{% endif %}
                {% if sector.status.name == 'completed' %}class="table-primary"{% endif %}
             scope="row">
                <td class="align-middle"> <a href = {% url "sector_update" sector.id %}>{{sector.name}}</a></td>
                <td class="align-middle"> {{sector.uuid}}</td>
                <td class="align-middle"> <a href = {% url "sector_history" sector.id %}>{{sector.status|default:"-"}}</a></td>
                <td class="align-middle">
                    {% if sector.status.name == "assigned" %}
                        {{sector.assigned_to|default:""}}
                    {% endif %}
                    {% if sector.status.name == "free" %}
                    {% endif %}
                    {% if sector.status.name == "under_construction" %}
                        set by
                        {{ sector.history.latest.history_user }}
                        at
                        {{ sector.history.latest.date_modified|date:"d M Y" }}
                    {% endif %}
                    {% if sector.status.name == "completed" %}
                        set by
                        {{ sector.history.latest.history_user }}
                        at
                        {{ sector.history.latest.date_modified|date:"d M Y" }}
                    {% endif %}
                </td>
                <td class="align-middle">
                    <table class="table-sm table-borderless text-left">
                     {% for house in sector.get_houses_into %}
                         <tr><td><small>
                             <a href="{% url "house_update" house.pk %}">{{ house.address }}({{ house.flat_count }})</a>
                         </small></td></tr>
                     {% endfor %}
                    </table>
                </td>
                <td class="text-right align-middle">
                    <form method="get" action="{% url "sector_delete" sector.id %}">
                        <button class="btn btn-outline-danger" button_type="submit" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    {% for house in houses %} {{ house.flat_count }}{% endfor %}#}
{% endblock %}
{% block head %}
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />#}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<style>
#for-search.active:not(.nav-link.active){
    background-color: var(--active-bg-color, ${search_status_color}) !important;
}
</style>
{% endblock %}
{% block top_map %}
<div class="mt-3 bg-white rounded shadow-sm overflow-auto">
    <div class="container my-3 p-2">
        <div class="row">
            <div class="col-md-auto">
                <span class="p-2 table-success rounded-lg ">
                    {% translate "free" %}
                </span>
            </div>
            <div class="col-md-auto">
                    <span class="p-2 table-warning rounded-lg ">
                        {% translate "assigned" %}
                    </span>
            </div>
            <div class="col-md-auto">
                    <span class="p-2 table-danger rounded-lg ">
                        {% translate "under constuction" %}
                    </span>
            </div>
            <div class="col-md-auto">
                <span class="p-2 table-primary rounded-lg ">
                    {% translate "completed" %}
                </span>
        </div>
            <div class="col-md-auto">
                <span class="p-2 rounded-lg" style="border: 3px solid #fa8005;">
                    {% translate "search" %}
                </span>
        </div>
            <div class="col-md-auto">
                <span class="p-2 rounded-lg" style="border: 3px solid #B917FC;">
                    {% translate "ready" %}
                </span>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block markers %}
    {% for sector in object_list %}
        add_sector_source(
        {{ sector.id }},
        "{{ sector.status }}",
        {{ sector.geojson | safe }},
        {{ sector.for_search|yesno:"true,false" }},
        '{% spaceless %}{% include "./sector_popup.html" %}{% endspaceless %}')
    {% endfor %}
{% include "sector/houses_circles.html" %}
    map.setZoom(14)
{#    map.on('click','sectors_search', sector_popup)#}
{#    map.on('click','sectors_ready', sector_popup)#}
{#    map.on('click','houses-layer', sector_popup)#}
{#    map.on('click','houses-search-layer', sector_popup)#}
    map.on('click',handleClickEvent);
{% endblock %}
{% block maponload %}
draw_border();
add_map_circles_source();
add_circles_layer();
add_symbols_layer();
map_add_layer();
{% endblock %}