{% load i18n %}
<div class="card">
    <div class="card-body m-0 p-1">
        <h5 class="card-title">{{ sector.name }}</h5>
{#        <p class="card-text">{{ house.desc|linebreaksbr }}</p>#}
{#        <p class="card-text">{% trans "Status" %}: {{ sector.status }}</p>#}
{#        <p class="card-text">{% trans "Floors" %}: {{ house.floor_amount }}</p>#}
        <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
            <div class="btn-group-sm" role="group">
                <a href ="{% url "sector_update" sector.id %}" class="btn btn-outline-info" role="button" aria-disabled="true"><i class="fas fa-edit"></i></a>
                <a href ="{% url "sector_delete" sector.id %}" class="btn btn-outline-danger" role="button" style="margin-left: 10px;"><i class="fas fa-trash"></i></a>
                <a href ="{% url "sector_history" sector.id %}" class="btn btn-outline-warning" role="button" style="margin-left: 10px;"><i class="fas fa-history"></i></a>
            </div>
        </div>
    </div>
</div>