{% load i18n %}
{% load bootstrap4 %}
<div id="sectorList" style="display: none;">
    <div class="container-fluid border" id="sectorContainer">
        <div class="row text-left" id="sectorList_header">
            <div class="col-1"><b>{% translate "name" %}</b></div>
            <div class="col-2"><b>{% translate "uuid" %}</b></div>
            <div class="col-2"><b>{% translate "status" %}</b></div>
            <div class="col-3"><b>{% translate "info" %}</b></div>
            <div class="col-3"><b>{% translate "houses" %}</b></div>
            <div class="col-1"></div>
        </div>
</div>