{% extends "base.html" %}
{% load i18n %}
{% load qr_code %}
{% load bootstrap4 %}
{% block page_content %}
    <form method="post" action=".">
    {% csrf_token %}
    {% if object.uuid_id %}
        {% with request.scheme|add:"://"|add:request.get_host|add:'/'|add:object.uuid_id as url_string %}
            {% qr_from_text url_string size="t" image_format="png" error_correction="L" %}
        {% endwith %}
    {% endif %}
        <h1 class="my-4"> {{ header }}</h1>
        <div class = "form">
            {%  for field in form %}
                <div class = "form-group">
                    {% bootstrap_field field %}
                </div>
            {% endfor %}
                <div class = "form-group">
                     {% bootstrap_button button_title button_type="submit" button_class="mt-3 btn btn-primary" %}
                </div>
        </div>
        <input type="hidden" id="id" value="{{ house.id|default:'0' }}">
    </form>
{% endblock %}
{% block head %}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">
{% endblock %}
{% block markers %}
    add_draw_control()
    map.on('draw.update', update_sector);
    map.on('draw.create', update_sector);
    {% if object %}
        add_sector_source(
            {{ object.id }},
            {{ object.geojson | safe }},
            "{{ object.name }}"
        )
        map.on('load', map_add_layer)
        draw.add(sectors)
    {% endif %}
{% endblock %}
