{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block page_content %}
   <h1 class="my-4"> {{ marks }}</h1>
    <a class="nav-link" href="{% url "sector_add" %}">{% translate "Create sector" %}</a>
    <table class = "table table-striped">
        <tr>
            <th>{% translate "name" %}</th>
            <th>{% translate "uuid" %}</th>
            <th></th>

        </tr>
        {% for sector in object_list %}
            <tr>
{#                <td> <a href = {% url "sector_update" sector.id %}>{{sector.name}}</a></td>#}
{#                <td> {{ sector.name }}</td>#}
                <td>{{ sector.name }}</td>
                <td> {{sector.uuid}}</td>
                <td>
                    <form method="get" action="{% url "sector_delete" sector.id %}">
                        {% bootstrap_button remove_title button_type="submit" button_class="btn btn-danger" %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block markers %}
    {% for sector in object_list %}
    add_sector_source(
        {{ sector.id }},
        {{ sector.geojson | safe }},
        "{{ sector.name }}"
        )
    {% endfor %}
    map.on('load', map_add_layer)
    map.on('click','sectors', sector_popup)

{% endblock %}