{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block page_content %}
   <h1 class="my-4"> {{ marks }}</h1>
    <a class="nav-link" href="{% url "sector_add" %}">{% translate "Create sector" %}</a>
    <table class = "table table-striped">
        <tr>
            <th>{% translate "name" %}</th>
            <th>{% translate "uuid" %}</th>
            <th>{% translate "status" %}</th>
            <th>{% translate "assigned to" %}</th>
            <th></th>

        </tr>
        {% for sector in object_list %}
            <tr>
                <td> <a href = {% url "sector_update" sector.id %}>{{sector.name}}</a></td>
                <td> {{sector.uuid}}</td>
                <td> <a href = {% url "sector_history" sector.id %}>{{sector.status|default:"-"}}</a></td>
                <td> {{sector.assigned_to|default:""}}</td>
                <td class="text-right">
                    <form method="get" action="{% url "sector_delete" sector.id %}">
                        {% bootstrap_button remove_title button_type="submit" button_class="btn btn-danger" %}
                    </form>
                </td>
            </tr>
             <tr>
                 <td colspan="5">
                     {% for house in sector.get_houses_into %}
                         {{ house.address }}({{ house.flat_count }}),
                     {% endfor %}
                 </td>
             </tr>
        {% endfor %}
    </table>
{#    {% for house in houses %} {{ house.flat_count }}{% endfor %}#}
{% endblock %}
{% block markers %}
    {% for sector in object_list %}
        add_sector_source(
        {{ sector.id }},
        {{ sector.geojson | safe }},
        "<b> {{ sector.name }}</b> <br>Flats - {{ sector.flat_count }}")
    {% endfor %}
    map.setZoom(14)
    map.on('load', map_add_layer)
    map.on('click','sectors', sector_popup)
{% include "sector/houses_circles.html" %}
{% endblock %}