{% load i18n %}
{% load bootstrap4 %}
{% load static %}
<script src="{% static "house.js" %}"></script>

<div class="form-row" ><h2> Flats</h2></div>
<div id="flat_table" class="form-row" style="visibility: hidden">
    <div class="form-row my-2" id="flat_template" style="visibility: hidden">
        <div class="col-md-2" id="entrance_">
            <input type="text" placeholder=" " class="form-control">
             <label class="form-control-placeholder">{% trans "entrance" %}</label>
        </div>
        <div class="col-md-2" id="number_">
            <input type="text" placeholder=" " class="form-control">
            <label class="small form-control-placeholder">{% trans "number(',' is delimiter)" %}</label>
        </div>
        <div class="col-md-2" id="floor_">
            <input type="text"  placeholder=" " class="form-control">
            <label class="form-control-placeholder">{% trans "floor" %}</label>
        </div>
        <div class="col-auto" id="way_desc_">
            <textarea cols="30" rows="1" class="form-control" placeholder=" "> </textarea>
            <label class="form-control-placeholder">{% trans "way_desc" %}</label>
        </div>
        <div class="col-md-2" id="language_">
            <select class ="form-control">
                {% for lang in langs %}
                    <option value="{{ lang.id }}">{{ lang.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col" id="remove">
            <button type="button" class="btn btn-outline-danger"  onclick="removeRow(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                </svg>
          </button>
        </div>
    </div>
</div>
<script>
    fillFlats()

    const form = document.querySelector("#houseform");
    form.addEventListener("submit", function (){update_flats_data()});
</script>
<a href="#" title="add row" onclick="addRow();return false;">Add flat</a>