{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block page_content %}
    <form method="post" action="." id="houseform" enctype="multipart/form-data">
    {% csrf_token %}
        <div class = "form">
    <h1 class="my-4"> {{ header }}</h1>
{##}
{#            {% if field.name == 'image' %}#}
{#                <div class="form-group">#}
{#                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                    {% if form.instance.pk %}#}
{#                        <img src="{{ field.value.url }}" alt="Current image">#}
{#                    {% endif %}#}
{#                    <input type="file" name="{{ field.name }}" id="{{ field.id_for_label }}">#}
{#                </div>#}
{#            {% else %}#}
{#                <div class="form-group">#}
{#                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                    {{ field }}#}
{#                </div>#}
{#            {% endif %}#}
{#            {% endfor %}#}

            {% for field in form %}
                {% if field.name != 'image_preview' %}
                    {% bootstrap_field field %}
                {% else %}
                    {% if field.image%}
                        <img src="{{ field.value.url }}" alt="Current image">
                    {% endif %}
                {% endif %}

            {% endfor %}
            <div>
                {% include "house/bulk_flat_create_update.html" %}
            </div>
            <div class = "form-group">
                {% bootstrap_button button_title button_type="submit" button_class="mt-3 btn btn-primary" %}
            </div>
        </div>

    <input type="hidden" id="id" value="{{ house.id|default:'0' }}">
    </form>
{#    {% debug %}#}
{% endblock %}

{% block markers %}
    {% if object %}
        set_popup({{ house.id }}, "{{ house.address }}")
        set_marker({{ house.id }}, {{ house.gps_pos }});
        map_fly({{ house.gps_pos }});
    {% endif %}
    map.on('click', move_marker);
{% endblock %}
