{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-3 h2 text-primary" href="{% url "root" %}">{% translate "Territory" %}</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse"  data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown" aria-expanded="false">{% translate "Sectors" %}</a>
                <div class="dropdown-menu ">
                  <a class="dropdown-item" href="{% url "sector_list" %}">{% translate "List sectors" %}</a>
                  <a class="dropdown-item" href="{% url "sector_add" %}">{%translate "Create sector" %}</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown" aria-expanded="false">{% translate "Houses" %}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item " href="{% url "house_list" %}">{% translate "List houses" %}</a>
                  <a class="dropdown-item " href="{% url "house_add" %}">{%translate "Create house" %}</a>
                </div>
            </li>
            <li class = "nav-item active"><a class="nav-link active" href="{% url "stat" %}">{% translate "Statistics" %}</a></li>
            <li class = "nav-item active"><a class="nav-link active" href="{% url "issue_list" %}">{% translate "Issues" %}</a></li>
        {% endif %}
    </ul>
    <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li class = "nav-item "><p class="nav-link active">{{ request.user.username }}</p></li>
                <li class = "nav-item"><a class="nav-link active" href="{% url "user_logout" %}">{% translate "Logout" %}</a></li>
            {% else %}
                <li class = "nav-item active"><a class="nav-link active" href="{% url "user_login" %}">{% translate "Enter" %}</a></li>
            {% endif %}
    </ul>
    </div>
</nav>