/* Hide the print time and page address */
@page {
  size: auto;
  margin: 0mm;
}
@media print {
  /* Hide the print time and page address */
  @page {
    margin: 0;
  }
  #map {
    display: block;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}