{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block page_content %}
    <form method="post" action=".">
    {% csrf_token %}
        <h1 class="my-4"> {{ header }}</h1>
        <div class = "card">
            <div class="card-header">
                <h2>{% translate "house" %} #{{ house.id }}</h2>
            </div>
        <div class="container">
            <div class="row p-2">
                <div class="col">{% translate "Address" %}</div>
                <div class="col">{{ house.address }}</div>
            </div>
            <div class="row p-2">
                <div class="col">{% translate "date joined" %}</div>
                <div class="col">{{ house.date_joined }}</div>
              </div>
            <div class="row p-2">
                <div class="col">{% translate "date modify" %}</div>
                <div class="col">{{ house.date_modified }}</div>
            </div>
            <div class="row p-2">
                <div class="col">{% translate "entrance" %}</div>
                <div class="col">{{ house.entrances }}</div>
              </div>
            <div class="row p-2">
                <div class="col">{% translate "floor amount" %}</div>
                <div class="col">{{ house.floor_amount }}</div>
            </div>
            <div class="row p-2">
                <div class="col">{% translate "sector" %}</div>
                <div class="col">{{ house.sector }}</div>
            </div>
            <div class="row p-2">
                <div class="col">{% translate "gps point" %}</div>
                <div class="col">{{ house.gps_pos }}</div>
            </div>
            <div class="row p-2">
                <div class="col">{% translate "uuid" %}</div>
                <div class="col">{{ house.uuid }}</div>
            </div>
      </div>
{% endblock %}
{% block markers %}
<script>
    const marker1 = new mapboxgl.Marker()
        .setLngLat([{{ house.gps_pos }}])
        .addTo(map);
</script>
{% endblock %}