{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block page_content %}
   <h1 class="my-4"> {{ marks }}</h1>
    <a class="nav-link" href="{% url "house_add" %}">{% translate "Create house" %}</a>
{#    <div id="accordion">#}
{#        {% for house in house_list %}#}
{#            <div class="card">#}
{#                <button class="btn btn-link" data-toggle="collapse" data-target="#flats_{{ house.id }}" aria-expanded="true" aria-controls="flats_{{ house.id }}">#}
{#                    <div class="card-header" id="head_{{ house.id }}">#}
{#                        <h5 class="mb-0">#}
{#                        {{ house.address }}#}
{#                                </h5>#}
{#                    </div>#}
{#                </button>#}
{##}
{##}
{#                <div id="flats_{{ house.id }}" class="collapse" aria-labelledby="head_{{ house.id }}" data-parent="#accordion">#}
{#                    <div class="card-body">#}
{#                        data#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
    <table class = "table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">{% translate "address" %}</th>
                <th scope="col">{% translate "entrances" %}</th>
                <th scope="col">{% translate "floors" %}</th>
                <th scope="col">{% translate "Founded addresses" %}</th>
                <th scope="col">{% translate "sector" %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for house in house_list %}
            <tr id = "house{{ house.id }}" data-toggle="collapse" data-target="#house_{{ house.id }}" class="clickable">
                <th scope="row"> <a href = {% url "house_update" house.id %}>{{house.address}}</a></td>
                <td> {{house.entrances}}</td>
                <td> {{house.floor_amount}}</td>
                <td> {{house.flat__count}}</td>
                <td> {{house.sector}}</td>
                <td>
                    <form method="get" action="{% url "house_delete" house.id %}">
                        {% bootstrap_button remove_title button_type="submit" button_class="btn btn-danger" %}
                    </form>
                </td>
            </tr>
            <tr class = "collapse" id="house_{{ house.id }}">
                <td colspan="6">
                    {% include "house/list_flat.html" %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block markers %}
    {% for house in object_list %}
        set_popup({{ house.id }},"{{ house.address }}({{ house.flat__count }})")
        set_marker({{ house.id }},{{ house.gps_pos }})
    {% endfor %}

{% endblock %}