{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block page_content %}
   <h1 class="my-4"> {{ marks }}</h1>
    <a class="nav-link" href="{% url "house_add" %}">{% translate "Create house" %}</a>
    <table class = "table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">{% translate "address" %}</th>
                <th scope="col">{% translate "entrances" %}</th>
                <th scope="col">{% translate "floors" %}</th>
                <th scope="col">{% translate "sector" %}</th>
                <th scope="col">{% translate "Founded addresses" %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for house in house_list %}
            <tr id = "house{{ house.id }}">>
                <th scope="row"> <a href = {% url "house_update" house.id %}>{{house.address}}</a></td>
                <td> {{house.entrances}}</td>
                <td> {{house.floor_amount}}</td>
                <td> {{house.sector}}</td>
                <td> {{house.flat__count}}</td>
                <td>
                    <form method="get" action="{% url "house_delete" house.id %}">
                        {% bootstrap_button remove_title button_type="submit" button_class="btn btn-danger" %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block markers %}
    {% for house in object_list %}
        set_popup({{ house.id }},"{{ house.address }}({{ house.flat__count }})")
        set_marker({{ house.id }},{{ house.gps_pos }})
    {% endfor %}

{% endblock %}