{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block page_content %}
    <div class="container-fluid border">
        <div class="row"><div class="col-12"><h1 class="my-4">{{ header }}</h1></div>
        </div>
        {% for sector in object_list %}
            <div class="row border-bottom justify-content-start my-1 text-center">
              <div title="Статус: {{ sector.status }}" class="col-2 {% with sector as obj %}{% include "stat/status_bg-color.html" %}{% endwith %}">
                <div class="align-self-center"><b><a class="text-secondary" href="{% url "sector_update" sector.id %}">{{ sector.name }}</a></b></div>
              </div>
              {% for cell in sector.assignments %}
                <div class="col-3 ml-1">
                    {% for record in cell %}
                        <div title=" {{ record.status }}: {{record.full_name|default:""}}" class="row text-left pl-0 {% with record as obj %}{% include "stat/status_bg-color.html" %}{% endwith %}">
                            <div class="col-lg-3 col-12 pl-1">{{record.history_date|date:"d/m/y"}}:</div>
                            <div class="col-lg-9 col-12 text-nowrap">{% if record.assigned_to %}{{ record.assigned_to }}{% endif %}</div>
                        </div>
                    {% endfor %}
                </div>
              {% endfor %}

{#                    <div title="{{record.full_name|default:""}}"#}
{#                    <div title="{{record.full_name|default:""}}" class="col-2 {% with record as obj %}{% include "stat/status_bg-color.html" %}{% endwith %} mx-1">#}
{#                        {% if record.status.name == "assigned" or record.status.name  == "completed" %}#}
{#                            {% if record.assigned_to %}#}
{#                                <div class="row"><div class="col-12">{{ record.assigned_to }}</div></div>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                        <div class="row"><div class="col-12"><small>{{record.history_date|date:"d/m/y"}}</small></div></div>#}

{#                    </div>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
            </div>
        {% endfor %}
    </div>


{% endblock %}
{% block markers %}
    {% include "issue/map_hide.html" %}
{% endblock %}