{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block page_content %}
    <h1 class="my-4"> {{ header }}</h1>
    <a class="nav-link" href="{% url "issue_add" %}">{% translate "Create issue" %}</a>
    <div>
      <table class = "table table-striped">
        <thead>
            <th>{% translate "Issue" %}</th>
            <th>Date created</th>

        </thead>
        <tbody>
            {% for issue in object_list %}
                <tr>
                    <td>
                        <a href = {% url "issue_detail" issue.id %}>{{ issue.title }}</a>
                    </td>
                    <td>
                        {{ issue.date|date:"d M Y" }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
{% block markers %}
{% include "issue/map_hide.html" %}
{% endblock %}