/*.form-group {*/
/*  position: relative;*/
/*  margin-bottom: 1.5rem;*/
/*}*/

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  pointer-events: none;
}

.form-control:focus + .form-control-placeholder,
.form-control:not(:placeholder-shown) + .form-control-placeholder
 {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
